
@{
    ViewData["Title"] = "EditItemsList";
    Layout = "~/Areas/Admin/Views/_share/_layout.cshtml";
}

@*@*khai báo để sử dụng các class trong models*@
@using project_banhang.Models
@*khai báo kiểu dữ liệu của models*@
@using System.Text;


<article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title">
            Add new item <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form name="item" method="post" action="@ViewBag.FormAction" enctype="multipart/form-data"> @* thiếu enctype="multipart/form-data" là không nhập được ảnh *@
        @Html.AntiForgeryToken()
        <div class="card card-block">
            <!--row-->
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Tên sản phẩm: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control boxed" placeholder="" name="name" value="@if (Model != null) {<text>@Model.name</text>}">
                </div>
                @{
                    //lay bien mode truyen tu url
                    string mode = Context.Request.Query["mode"].ToString();
                    if (mode == "exists")
                    {
                        <div class="col-sm-3"></div>
                        <div class="alert alert-danger col-sm-6">
                            <strong>Thông báo</strong> Tên sản phẩm đã tồn tại.
                        </div>
                    }
                }
            </div>
            <!--row-->
            <!--end row-->
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Nội dung: </label>
                <div class="col-md-10">
                    <textarea name="content" id="content">@if(Model!=null){<text>@Model.content</text>}</textarea>
                    <script language="javascript">
                        CKEDITOR.replace("content");
                    </script>
                </div>
            </div>
            <!--end row-->
            <!--row-->
            <div class="form-group row">
                <div class="col-md-2">Mô tả:</div>
                <div class="col-md-10">
                    <textarea name="description" id="description">@if (Model != null) { <text>@Model.description</text> }</textarea>
                    <script language="javascript">
                        CKEDITOR.replace("description");
                    </script>
                </div>
            </div>

            <!--row-->
            <div class="form-group row">
                <div class="col-md-2">Thông tin khuyến mãi</div>
                <div class="col-md-10">
                    <textarea name="note" id="note">@if (Model != null) { <text>@Model.note</text> }</textarea>
                    <script language="javascript">
                        CKEDITOR.replace("note");
                    </script>
                </div>
            </div>

            <!--row-->
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Danh mục: </label>
                <div class="col-sm-3">
                    <select name="id_category" class="form-control" style="width: 300px;">
                        <option value="0">Nhiều danh mục hơn</option>
                        @{
                            //khoi tao doi tuong de truy van csdl
                            DataContext db = new DataContext();
                            var category = db.ItemsCategories.OrderByDescending(tbl => tbl.id).ToList();
                        }
                        @foreach (var item in category)
                        {
                            <option @if (Model != null && item.id == Model.id_category) { <text> selected</text> } value="@item.id">@item.name</option>
                        }
                    </select>
                </div>

                <label class="col-sm-2 form-control-label text-xs-right"> Thương hiệu: </label>
                <div class="col-sm-3" ">
                    @*<input type="text" class="form-control boxed" placeholder="" name="name" value="@if (Model != null && Model.id_brand==ViewBag.brand.id) {<text>@ViewBag.brand.name</text>}">*@
                    <select name="brand" class="form-control" style="width: 300px;">
                        <option value="0">Nhiều thương hiệu hơn</option>
                        @foreach (var brand in ViewBag.brand1)
                        {
                            <option @if (Model != null && Model.id_brand == brand.id) { <text> selected</text> } value="@brand.id">@brand.name</option>
                        }
                    </select>
                </div>
            </div>
            <!--row-->
            <!--row-->
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Dung lượng </label>
                <div class="col-sm-4">
                    <input type="number" name="storage" value="@if (Model != null) {<text>@Model.storage</text>}" id="storage" />GB
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Bus Ram </label>
                <div class="col-sm-4">
                    <input type="number" name="busram" value="@if (Model != null) {<text>@Model.busram</text>}" id="busram" />MHz
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Chuẩn ổ cứng </label>
                <div class="col-sm-4">
                    <input type="text" name="chuanocung" value="@if (Model != null) {<text>@Model.chuanocung</text>}" id="chuanocung" />
                </div>
            </div>
            <!--end row-->
            <!--row-->
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Giá: </label>
                <div class="col-sm-10">
                    <input type="number" name="price" value="@if (Model != null) {<text>@Model.price</text>}" id="discount" />(VNĐ)
                </div>


            </div>
            <!--end row-->
            <!--row-->
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Giảm giá: </label>
                <div class="col-sm-10">
                    <input type="number" name="discount" value="@if (Model != null) {<text>@Model.discount</text>}" id="discount" />%

                </div>

            </div>

            <!--end row-->
            <!--row-->
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-1 form-control-label text-xs-right"> Hot: </label>
                <div class="col-sm-1">
                    <input type="checkbox" @if (Model != null && Model.hot == true) { <text> checked</text> } name="hot" id="hot">
                </div>

                <label class="col-sm-1 form-control-label text-xs-right"> Sales: </label>
                <div class="col-sm-1">
                    <input type="checkbox" @if (Model != null && Model.sale == true) { <text> checked</text> } name="sale" id="sale">
                </div>

            </div>
            <!--end row-->
            <!--row-->

            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Ảnh: </label>
                <div class="col-sm-10">
                    <input type="file" name="media">
                </div>
            </div>
            <!--end row-->
            <!--row-->
            <div class="form-group row">
                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary"> Submit </button>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </form>
</article>

<script language="javascript">
    document.getElementById("sale").onclick = function (e) {
        if (this.checked) {
                        document.getElementById("discount").readOnly = false;
                    }
        else {
                        document.getElementById("discount").readOnly = true;
                    }
                    };
</script>
