<!DOCTYPE html>
<!-- saved from url=(0030)https://www.memoryzone.com.vn/ -->
<html lang="vi" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="~/Memory-Home/js/317.js"></script>
    <script id="bizweb-form-jssdk" type="text/javascript" async="" src="~/Memory-Home/js/script.js" data-shop="memoryzone-com-vn.bizwebvietnam.net" data-domain="https://bizwebform.sapoapps.vn"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/317(1).js"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/1503.js"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/1503(1).js"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/script(1).js"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/ProductRecentScriptTags"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/script(2).js"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/productreviews.min.js"></script>
    <script type="text/javascript" async="" defer="" src="~/Memory-Home/js/container_E5BU680m.js"></script>
    <script id="facebook-jssdk" src="~/Memory-Home/js/xfbml.customerchat.js"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/f.txt"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/analytics.js"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/f.txt"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/analytics.js"></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="~/Memory-Home/js/gtm.js"></script>
    <script type="text/javascript" async="" src="~/Memory-Home/js/329122.js"></script>
    <script async="" src="~/Memory-Home/js/gtm.js"></script>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MCQ622V');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Font Awesome5  -->
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <!-- end font awesome5 -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        Memoryzone - Professional in memory - Nhà bán lẻ thiết bị lưu trữ. Ổ cứng SSD, USB, Thẻ Nhớ, Ram Laptop.



    </title>
    <meta name="google-site-verification" content="wph76HDh_NzgM_2CWvPmX0yEJLb3qjUc8VhnRcr3A-I">
    <!-- ================= Page description ================== -->
    <meta name="description" content="Memoryzone là một thương hiệu chuyên cung cấp các sản phẩm, dịch vụ và giải pháp về bộ nhớ, thẻ nhớ điện thoại, ổ cứng ssd, ổ cứng di động, ổ cứng ssd di động, thẻ nhớ máy ảnh.v.v.">
    <!-- ================= Meta ================== -->
    <meta name="keywords" content="Thẻ nhớ điện thoại, máy ảnh chính hãng, USB, USB 3.0, ổ cứng di động, ổ cứng gắn ngoài, ổ cứng SSD, pin sạc dự phòng, tai nghe điện thoại, thiết bị wireless">
    <link rel="canonical" href="https://www.memoryzone.com.vn/">
    <meta name="revisit-after" content="1 days">
    <meta name="robots" content="noodp,index,follow">
    <!-- ================= Favicon ================== -->

    <link rel="icon" href="~/images/favicon-16x16.png" type="image/x-icon">


    <!-- Facebook Open Graph meta tags -->


    <meta property="og:type" content="website">
    <meta property="og:title" content="Memoryzone - Professional in memory -  Nhà bán lẻ thiết bị lưu trữ. Ổ cứng SSD, USB, Thẻ Nhớ, Ram Laptop.">
    <meta property="og:image" content="https://bizweb.dktcdn.net/100/329/122/themes/681013/assets/logo.png?1574878515674">
    <meta property="og:image:secure_url" content="https://bizweb.dktcdn.net/100/329/122/themes/681013/assets/logo.png?1574878515674">

    <meta property="og:description" content="Memoryzone là một thương hiệu chuyên cung cấp các sản phẩm, dịch vụ và giải pháp về bộ nhớ, thẻ nhớ điện thoại, ổ cứng ssd, ổ cứng di động, ổ cứng ssd di động, thẻ nhớ máy ảnh.v.v.">
    <meta property="og:url" content="https://www.memoryzone.com.vn">
    <meta property="og:site_name" content="Memoryzone - Professional in memory">

    <!-- Plugin CSS -->
    <link href="~/Memory-Home/css/plugin.scss.css" rel="stylesheet" type="text/css">

    <!-- Build Main CSS -->
    <link href="~/Memory-Home/css/base.scss.css" rel="stylesheet" type="text/css">
    <link href="~/Memory-Home/css/style.scss.css" rel="stylesheet" type="text/css">
    <link href="~/Memory-Home/css/module.scss.css" rel="stylesheet" type="text/css">
    <link href="~/Memory-Home/css/responsive.scss.css" rel="stylesheet" type="text/css">



    <!-- Header JS -->
    <script src="~/Memory-Home/js/jquery-2.2.3.min.js" type="text/javascript"></script>
    <!-- Bizweb javascript customer -->



    <script>
        var ProductReviewsAppUtil = ProductReviewsAppUtil || {};
    </script>
    <link href="~/Memory-Home/css/cf-stylesheet.css" rel="stylesheet" type="text/css">
    <link href="~/Memory-Home/css/appbulk-buyxgety.css" rel="stylesheet" type="text/css">
    <link href="~/Memory-Home/css/appbulk-product-statistics.css" rel="stylesheet" type="text/css">
    <!-- Bizweb conter for header -->
    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'memoryzone-com-vn.bizwebvietnam.net';
        Bizweb.id = '329122';
        Bizweb.theme = {
            "id": 681013,
            "role": "main",
            "name": "Cocomart (Main)"
        };
        Bizweb.template = 'index';
    </script>
    <script>
        (function() {
            function asyncLoad() {
                var urls = ["//productreviews.sapoapps.vn/assets/js/productreviews.min.js?store=memoryzone-com-vn.bizwebvietnam.net", "https://bizwebform.sapoapps.vn/genscript/script.js?store=memoryzone-com-vn.bizwebvietnam.net", "https://productviewedhistory.sapoapps.vn/ProductViewed/ProductRecentScriptTags?store=memoryzone-com-vn.bizwebvietnam.net", "https://sociallogin.sapoapps.vn/sociallogin/script.js?store=memoryzone-com-vn.bizwebvietnam.net", "https://googleshopping.sapoapps.vn/conversion-tracker/global-tag/1503.js?store=memoryzone-com-vn.bizwebvietnam.net", "https://googleshopping.sapoapps.vn/conversion-tracker/event-tag/1503.js?store=memoryzone-com-vn.bizwebvietnam.net", "https://google-shopping.sapoapps.vn/conversion-tracker/global-tag/317.js?store=memoryzone-com-vn.bizwebvietnam.net", "https://google-shopping.sapoapps.vn/conversion-tracker/event-tag/317.js?store=memoryzone-com-vn.bizwebvietnam.net"];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            }
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();
    </script>

    <script type="text/javascript">
        (function() {
            var log = document.createElement('script');
            log.type = 'text/javascript';
            log.async = true;
            log.src = '//stats.bizweb.vn/delivery/329122.js?lang=vi';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(log, s);
        })();
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="~/Memory-Home/js/js.js"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-38123902-4');
        gtag('config', 'AW-993120848');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MCQ622V');
    </script>
    <!-- End Google Tag Manager -->
    <!--Facebook Pixel Code-->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }
        (window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '555390224831405', {}, {
            'agent': 'plsapo'
        }); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height='1' width='1' style='display:none'
             src='https://www.facebook.com/tr?id=555390224831405&ev=PageView&noscript=1' />
    </noscript>
    <!--DO NOT MODIFY-->
    <!--End Facebook Pixel Code-->




    <meta property="fb:app_id" content="199971467531768">
    <script src="~/Memory-Home/js/f(1).js"></script>
    <script src="~/Memory-Home/js/f(2).js"></script>
    <link rel="stylesheet" type="text/css" href="~/Memory-Home/css/Untitled-1.css" />
    <style type="text/css">
        .fancybox-margin {
            margin-right: 0px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Memory-Home/css/bpr.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Memory-Home/css/productReviews.min.css" media="all">
    <script type="text/javascript" src="~/Memory-Home/js/vi.min.js"></script>
</head>


<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCQ622V"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="hidden-md hidden-lg opacity_menu"></div>
    <!-- Main content -->
    @*<div class="banner-top">
            <a href="https://www.memoryzone.com.vn/memoryzone-black-friday-2019">
                <img width="100%" src="~/Memory-Home/images/banner_top.jpg" data-lazyload="//bizweb.dktcdn.net/100/329/122/themes/681013/assets/banner_top.jpg?1574878515674" alt="Banner top">
            </a>
        </div>*@
    <!-- Menu mobile -->
    <div id="mySidenav" class="sidenav menu_mobile hidden-md hidden-lg">
        <div class="top_menu_mobile">
            <a href="https://www.memoryzone.com.vn/">
                <span class="close_menu">
                </span>
            </a>
        </div>
        <div class="content_memu_mb">
            <div class="link_list_mobile">

                <ul class="ct-mobile hidden">
                </ul>
                <ul class="ct-mobile">

                    <li class="level0 level-top parent level_ico">
                        <a href="~/Memory-Home/">TRANG CHỦ</a>

                    </li>

                    <li class="level0 level-top parent level_ico">
                        <a href="#">THANH TOÁN</a>

                    </li>

                    <li class="level0 level-top parent level_ico">
                        <a href="#">CHÍNH SÁCH GIAO HÀNG</a>

                    </li>

                    <li class="level0 level-top parent level_ico">
                        <a href="#">LIÊN HỆ</a>

                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End -->
    @* load file header *@
    <header class="header">
        @Html.Partial("~/Views/_shared/_header.cshtml")
        @Html.Partial("~/Views/_shared/ListProducts.cshtml")
    </header>
    @*<header class="header">
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                            <ul class="topbar_left hidden-sm hidden-xs">
                                <li>
                                    <a class="welcome_text"></a>
                                </li>
                                <li>
                                    <a>Mở cửa: 9h đến 20h, chủ nhật 10h đến 16h</a>
                                </li>
                            </ul>
                        </div>

                        @Html.Partial("~/Views/_shared/_header.cshtml")
                    </div>
                </div>
            </div>
            <div class="mid-header wid_100 f-left">
                <div class="container">
                    <div class="row">
                        <div class="content_header">
                            <div class="header-main">
                                <div class="menu-bar-h nav-mobile-button hidden-md hidden-lg">
                                    <a href="/Home/#nav-mobile"><img src="~/Memory-Home/images/i_menubar.png" alt="menu bar"></a>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="logo">


                                        <a href="/Home/" class="logo-wrapper ">
                                            <img src="~/Memory-Home/images/logo.png" data-lazyload="//bizweb.dktcdn.net/100/329/122/themes/681013/assets/logo.png?1574878515674" alt="logo ">
                                        </a>

                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                                    <div class="header-left">
                                        <div class="header_search">
                                            <form action="/Search/" method="get" class="input-group search-bar" role="search">

                                                <input type="text" name="query" value="" autocomplete="off" placeholder="Sản phẩm bạn muốn tìm..." class="input-group-field auto-search">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn icon-fallback-text">
                                                        <span class="fa fa-search"></span>
                                                    </button>
                                                </span>
                                            </form>



                                        </div>


                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 no-padding-left">
                                    <div class="header-right">
                                        <div class="hotline_dathang hidden-sm">
                                            <div class="icon_hotline">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                            </div>
                                            <div class="content_hotline">

                                                <a href="tel:(028)73013878">(028) 7301 3878  (10 line)</a>

                                                <span>DĐ: <span style="color:#ffba00"><b> 0909 305 350</b></span></span>
                                            </div>
                                        </div>
                                        <div class="top-cart-contain f-right">
                                            <div class="mini-cart text-xs-center">
                                                <div class="heading-cart cart_header">
                                                    <a href="/Cart/" title="Giỏ hàng">
                                                        <div class="icon_hotline">
                                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                        </div>
                                                    </a>
                                                    <div class="content_cart_header">
                                                        <a class="bg_cart" href="/Cart/" title="Giỏ hàng">
                                                            (<span class="count_item count_item_pr">0</span>) Sản phẩm
                                                            <span class="text-giohang">Giỏ hàng</span>
                                                        </a>
                                                    </div>

                                                </div>
                                                <div class="top-cart-content">
                                                    <ul id="cart-sidebar" class="mini-products-list count_li">
                                                        <div class="no-item">
                                                            <p>Không có sản phẩm nào trong giỏ hàng.</p>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="top-cart-contain f-right hidden">
                                            <div class="mini-cart text-xs-center">
                                                <div class="heading-cart">
                                                    <a class="bg_cart" href="/Cart/" title="Giỏ hàng">
                                                        <i class="ion-android-cart"></i>
                                                        <span class="count_item count_item_pr">0</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("~/Views/_shared/ListProducts.cshtml")

            <script>
                $(document).ready(function () {
                    $('.title_menu').click(function () {
                        $('.list_menu_header_show').toggle();
                    })
                })
            </script>
        </header>*@
    <div id="menu-overlay" class=""></div>

    <h1 class="hidden">Memoryzone - Professional in memory - Memoryzone là một thương hiệu chuyên cung cấp các sản phẩm, dịch vụ và giải pháp về bộ nhớ, thẻ nhớ điện thoại, ổ cứng ssd, ổ cứng di động, ổ cứng ssd di động, thẻ nhớ máy ảnh.v.v.</h1>



    <section class="awe-section-1" id="home_block_1">
        <div class="home-slider owl-carousel owl-theme not-aweowl owl-loaded owl-drag">
            @*<div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3806px;">
                        <div class="owl-item active" style="width: 1903px;">
                            <div class="item">
                                <a href="https://www.memoryzone.com.vn/11-11-crazy-sale" class="clearfix">
                                    <img src="~/Memory-Home/images/slider_1.jpg" data-lazyload="//bizweb.dktcdn.net/100/329/122/themes/681013/assets/slider_1.jpg?1574878515674" alt="MemoryZone Black Friday">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1903px;">
                            <div class="item">
                                <a href="https://www.memoryzone.com.vn/kingston-black-friday" class="clearfix">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-lazyload="//bizweb.dktcdn.net/100/329/122/themes/681013/assets/slider_2.jpg?1574878515674" alt="Kingston Black Friday">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="owl-nav">
                <div class="owl-prev disabled"> </div>
                <div class="owl-next"> </div>
            </div>
            <div class="owl-dots">
                <div class="owl-dot active"><span></span></div>
                <div class="owl-dot"><span></span></div>
            </div>
        </div>
    </section>
    @* Load 1 file khác vào đây *@
    @* awe-section-2 và awe-section-3 *@
    @Html.Partial("~/Views/_shared/hotproducts.cshtml")
    @RenderBody()
    <div class="scroll_menu hidden-xs hidden-sm" id="myScrollspy">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="https://www.memoryzone.com.vn/#home_block_3" data-href="#home_block_3">
                    <img alt="Hot deal giá sốc" src="~/Memory-Home/images/left_icon_3.png">
                    <span class="scroll_tooltip_1">Hot deal giá sốc</span>
                </a>
            </li>
            <li>
                <a href="/Home/#home_block_4" data-href="#home_block_4">
                    <img alt="Ổ cứng SSD" src="~/Memory-Home/images/left_icon_4.png">
                    <span class="scroll_tooltip_1">Ổ cứng SSD</span>
                </a>
            </li>
            <li>
                <a href="https://www.memoryzone.com.vn/#home_block_5" data-href="#home_block_5">
                    <img alt="Ổ cứng di động" src="~/Memory-Home/images/left_icon_5.png">
                    <span class="scroll_tooltip_1">Ổ cứng di động</span>
                </a>
            </li>
            <li>
                <a href="https://www.memoryzone.com.vn/#home_block_6" data-href="#home_block_6">
                    <img alt="Thẻ nhớ điện thoại / máy ảnh" src="~/Memory-Home/images/left_icon_6.png">
                    <span class="scroll_tooltip_1">Thẻ nhớ điện thoại / máy ảnh</span>
                </a>
            </li>
            <li>
                <a href="https://www.memoryzone.com.vn/#home_block_7" data-href="#home_block_7">
                    <img alt="Lựa chọn riêng cho bạn" src="~/Memory-Home/images/left_icon_7.png">
                    <span class="scroll_tooltip_1">Lựa chọn riêng cho bạn</span>
                </a>
            </li>
        </ul>
    </div>

    <script>
        //$('body').scrollspy({target: "#myScrollspy", offset: 70});

        var $root = $('html, body');
        $('.scroll_menu a').click(function () {
            var location = $($.attr(this, 'href')).offset().top - 150;
            $root.animate({
                scrollTop: location
            }, 500);
            return false;
        });

        $(window).load(function () {

            $(this).scroll(function () {
                var height = $(window).scrollTop();
                if (height >= 400) {
                    $('.scroll_menu').addClass('visible');
                } else {
                    $('.scroll_menu').removeClass('visible');
                }
            });
        });
    </script>

    <link href="~/Memory-Home/css/bpr-products-module.css" rel="stylesheet" type="text/css">
    <div class="bizweb-product-reviews-module"></div>
    <footer class="footer">
        <div class="site-footer">
            @Html.Partial("~/Views/_shared/footer.cshtml")

            <div class="hidden container">
                <div class="inner clearfix">
                    <div class="row tablet">
                        <div id="copyright" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 a-center fot_copyright">
                            <span class="wsp"><span class="mobile">© Bản quyền thuộc về <b>Memoryzone</b><span class="hidden-xs"> | </span></span><span class="opacity1">Cung cấp bởi</span> <a href="https://www.sapo.vn/" rel="nofollow" title="Sapo" target="_blank">Sapo</a></span>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </footer>

    <script src="~/Memory-Home/js/rx-all-min.js" type="text/javascript"></script>


    <!-- Đại lý -->
    <!-- Bizweb javascript -->
    <script src="~/Memory-Home/js/option-selectors.js" type="text/javascript"></script>
    <script src="~/Memory-Home/js/api.jquery.js" type="text/javascript"></script>
    <!-- Plugin JS -->
    <script src="~/Memory-Home/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/Memory-Home/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="~/Memory-Home/css/tkn-style.css" rel="stylesheet" type="text/css">
    <script src="~/Memory-Home/js/tkn-util.js" type="text/javascript"></script>
    <!-- Add to cart -->
    <div class="ajax-load">
        <span class="loading-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="7.32615" width="4" height="15.3477" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
            <rect x="8" y="5.17385" width="4" height="19.6523" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
            <rect x="16" y="7.67385" width="4" height="14.6523" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
		</svg>
        </span>
    </div>

    <div class="loading awe-popup">
        <div class="overlay"></div>
        <div class="loader" title="2">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="7.32615" width="4" height="15.3477" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
            <rect x="8" y="5.17385" width="4" height="19.6523" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
            <rect x="16" y="7.67385" width="4" height="14.6523" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
		</svg>
        </div>

    </div>

    <div class="addcart-popup product-popup awe-popup">
        <div class="overlay no-background"></div>
        <div class="content">
            <div class="row row-noGutter">
                <div class="col-xl-6 col-xs-12">
                    <div class="btn btn-full btn-primary a-left popup-title">
                        <i class="fa fa-check"></i>Thêm vào giỏ hàng thành công
                    </div>
                    <a href="javascript:void(0)" class="close-window close-popup"><i class="fa fa-close"></i></a>
                    <div class="info clearfix">
                        <div class="product-image margin-top-5">
                            <img alt="popup" src="~/Memory-Home/images/logo.png" style="max-width:150px; height:auto">
                        </div>
                        <div class="product-info">
                            <p class="product-name"></p>
                            <p class="quantity color-main"><span>Số lượng: </span></p>
                            <p class="total-money color-main"><span>Tổng tiền: </span></p>

                        </div>
                        <div class="actions">
                            <button class="btn  btn-primary  margin-top-5 btn-continue">Tiếp tục mua hàng</button>
                            <button class="btn btn-gray margin-top-5" onclick="window.location=&#39;/cart&#39;">Kiểm tra giỏ hàng</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="error-popup awe-popup">
        <div class="overlay no-background"></div>
        <div class="popup-inner content">
            <div class="error-message"></div>
        </div>
    </div>
    <script>
        Bizweb.updateCartFromForm = function(cart, cart_summary_id, cart_count_id) {
            if ((typeof cart_summary_id) === 'string') {
                var cart_summary = jQuery(cart_summary_id);
                if (cart_summary.length) {
                    // Start from scratch.
                    cart_summary.empty();
                    // Pull it all out.
                    jQuery.each(cart, function(key, value) {
                        if (key === 'items') {

                            var table = jQuery(cart_summary_id);
                            if (value.length) {
                                jQuery('<ul class="list-item-cart"></ul>').appendTo(table);
                                jQuery.each(value, function(i, item) {
                                    var buttonQty = "";
                                    if (item.quantity == '1') {
                                        buttonQty = 'disabled';
                                    } else {
                                        buttonQty = '';
                                    }
                                    var link_img0 = Bizweb.resizeImage(item.image, 'compact');
                                    if (link_img0 == "null" || link_img0 == '' || link_img0 == null) {
                                        link_img0 = 'https://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif';
                                    }
                                    jQuery('<li class="item productid-' + item.variant_id + '"><div class="border_list"><a class="product-image" href="' + item.url + '" title="' + item.name + '">' +
                                        '<img alt="' + item.name + '" src="' + link_img0 + '"width="' + '100' + '"\></a>' +
                                        '<div class="detail-item"><div class="product-details">' +
                                        '<p class="product-name"> <a class="text2line" href="' + item.url + '" title="' + item.name + '">' + item.name + '</a></p></div>' +
                                        '<div class="product-details-bottom"><span class="price">' + Bizweb.formatMoney(item.price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span><a href="javascript:;" data-id="' + item.variant_id + '" title="Xóa" class="remove-item-cart fa fa-times">&nbsp;</a>' +
                                        '<div class="quantity-select qty_drop_cart"><input class="variantID" type="hidden" name="variantId" value="' + item.variant_id + '"><button onClick="var result = document.getElementById(\'qty' + item.variant_id + '\'); var qty' + item.variant_id + ' = result.value; if( !isNaN( qty' + item.variant_id + ' ) &amp;&amp; qty' + item.variant_id + ' &gt; 1 ) result.value--;return false;" class="btn_reduced reduced items-count btn-minus" ' + buttonQty + ' type="button">–</button><input type="text" maxlength="12" min="1" class="input-text number-sidebar qty' + item.variant_id + '" id="qty' + item.variant_id + '" name="Lines" id="updates_' + item.variant_id + '" size="4" value="' + item.quantity + '"><button onClick="var result = document.getElementById(\'qty' + item.variant_id + '\'); var qty' + item.variant_id + ' = result.value; if( !isNaN( qty' + item.variant_id + ' )) result.value++;return false;" class="btn_increase increase items-count btn-plus" type="button">+</button></div></div></div></li>').appendTo(table.children('.list-item-cart'));
                                });
                                jQuery('<div class="pd"><div class="top-subtotal">Tổng tiền: <span class="price">' + Bizweb.formatMoney(cart.total_price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span></div></div>').appendTo(table);
                                jQuery('<div class="pd right_ct"><a href="/checkout" class="btn btn-primary"><span>Tiến hành thanh toán</span></a><a href="/cart" class="btn btn-white"><span>Đi đến giỏ hàng</span></a></div>').appendTo(table);
                            } else {
                                jQuery('<div class="no-item"><p>Không có sản phẩm nào trong giỏ hàng.</p></div>').appendTo(table);

                            }
                        }
                    });
                }
            }
            updateCartDesc(cart);
            var numInput = document.querySelector('#cart-sidebar input.input-text');
            if (numInput != null) {
                // Listen for input event on numInput.
                numInput.addEventListener('input', function() {
                    // Let's match only digits.
                    var num = this.value.match(/^\d+$/);
                    if (num == 0) {
                        // If we have no match, value will be empty.
                        this.value = 1;
                    }
                    if (num === null) {
                        // If we have no match, value will be empty.
                        this.value = "";
                    }
                }, false)
            }
        }

        Bizweb.updateCartPageForm = function(cart, cart_summary_id, cart_count_id) {
            if ((typeof cart_summary_id) === 'string') {
                var cart_summary = jQuery(cart_summary_id);
                if (cart_summary.length) {
                    // Start from scratch.
                    cart_summary.empty();
                    // Pull it all out.
                    jQuery.each(cart, function(key, value) {
                        if (key === 'items') {
                            var table = jQuery(cart_summary_id);
                            if (value.length) {

                                var pageCart = '<div class="cart page_cart hidden-xs">' +
                                    '<form action="/cart" method="post" novalidate class="margin-bottom-0"><div class="bg-scroll"><div class="cart-thead">' +
                                    '<div style="width: 17%">Ảnh sản phẩm</div><div style="width: 33%"><span class="nobr">Tên sản phẩm</span></div><div style="width: 15%" class="a-center"><span class="nobr">Đơn giá</span></div><div style="width: 14%" class="a-center">Số lượng</div><div style="width: 15%" class="a-center">Thành tiền</div><div style="width: 6%">Xoá</div></div>' +
                                    '<div class="cart-tbody"></div></div></form></div>';
                                var pageCartCheckout = '<div class="cart-collaterals cart_submit row"><div class="totals col-sm-12 col-md-12 col-xs-12"><div class="totals"><div class="inner">' +
                                    '<table class="table shopping-cart-table-total margin-bottom-0" id="shopping-cart-totals-table"><colgroup><col><col></colgroup>' +
                                    '<tfoot><tr><td colspan="20" class="a-right"><span>Tổng tiền:</span></td><td class="a-right"><strong><span class="totals_price price">' + Bizweb.formatMoney(cart.total_price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span></strong></td></tr></tfoot></table>' +
                                    '<ul class="checkout"><li class="clearfix f-right"><button class="btn btn-white f-left" title="Tiếp tục mua hàng" type="button" onclick="window.location.href=\'/collections/all\'"><span>Tiếp tục mua hàng</span></button><button class="btn btn-primary button btn-proceed-checkout f-right" title="Thực hiện thanh toán" type="button" onclick="window.location.href=\'/checkout\'"><span>Thực hiện thanh toán</span></button></li>' +
                                    '</ul></div></div></div></div>';
                                jQuery(pageCart).appendTo(table);
                                jQuery.each(value, function(i, item) {
                                    var buttonQty = "";
                                    if (item.quantity == '1') {
                                        buttonQty = 'disabled';
                                    } else {
                                        buttonQty = '';
                                    }
                                    var link_img1 = Bizweb.resizeImage(item.image, 'small');
                                    if (link_img1 == "null" || link_img1 == '' || link_img1 == null) {
                                        link_img1 = 'https://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif';
                                    }
                                    var pageCartItem = '<div class="item-cart productid-' + item.variant_id + '"><div style="width: 17%" class="image"><a class="product-image" title="' + item.name + '" href="' + item.url + '"><img width="75" height="auto" alt="' + item.name + '" src="' + link_img1 + '"></a></div>' +
                                        '<div style="width: 33%" class="a-center prd_name"><h2 class="product-name"> <a class="text2line" href="' + item.url + '">' + item.title + '</a> </h2><span class="variant-title">' + item.variant_title + '</span></div><div style="width: 15%" class="a-center"><span class="item-price"> <span class="price">' + Bizweb.formatMoney(item.price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span></span></div>' +
                                        '<div style="width: 14%" class="a-center"><div class="input_qty_pr"><input class="variantID" type="hidden" name="variantId" value="' + item.variant_id + '"><button onClick="var result = document.getElementById(\'qtyItem' + item.variant_id + '\'); var qtyItem' + item.variant_id + ' = result.value; if( !isNaN( qtyItem' + item.variant_id + ' ) &amp;&amp; qtyItem' + item.variant_id + ' &gt; 1 ) result.value--;return false;" ' + buttonQty + ' class="reduced_pop items-count btn-minus" type="button">–</button><input type="text" maxlength="12" min="1" class="input-text number-sidebar input_pop input_pop qtyItem' + item.variant_id + '" id="qtyItem' + item.variant_id + '" name="Lines" id="updates_' + item.variant_id + '" size="4" value="' + item.quantity + '"><button onClick="var result = document.getElementById(\'qtyItem' + item.variant_id + '\'); var qtyItem' + item.variant_id + ' = result.value; if( !isNaN( qtyItem' + item.variant_id + ' )) result.value++;return false;" class="increase_pop items-count btn-plus" type="button">+</button></div></div>' +
                                        '<div style="width: 15%" class="a-center"><span class="cart-price"> <span class="price">' + Bizweb.formatMoney(item.price * item.quantity, "{{amount_no_decimals_with_comma_separator}}₫") + '</span> </span></div>' +
                                        '<div style="width: 6%"><a class="button remove-item remove-item-cart" title="Xóa" href="javascript:;" data-id="' + item.variant_id + '"><span><i class="fa fa-times" aria-hidden="true"></i></span></a></div></div>';
                                    jQuery(pageCartItem).appendTo(table.find('.cart-tbody'));
                                    if (item.variant_title == 'Default Title') {
                                        $('.variant-title').hide();
                                    }
                                });
                                jQuery(pageCartCheckout).appendTo(table.children('.cart'));
                            } else {
                                jQuery('<p class="hidden-xs-down">Không có sản phẩm nào trong giỏ hàng. Quay lại <a href="/" style="color:;">cửa hàng</a> để tiếp tục mua sắm.</p>').appendTo(table);
                                jQuery('.cart_desktop_page').css('min-height', 'auto');
                            }
                        }
                    });
                }
            }
            updateCartDesc(cart);
            jQuery('#wait').hide();
        }
        Bizweb.updateCartPopupForm = function(cart, cart_summary_id, cart_count_id) {

            if ((typeof cart_summary_id) === 'string') {
                var cart_summary = jQuery(cart_summary_id);
                if (cart_summary.length) {
                    // Start from scratch.
                    cart_summary.empty();
                    // Pull it all out.
                    jQuery.each(cart, function(key, value) {
                        if (key === 'items') {
                            var table = jQuery(cart_summary_id);
                            if (value.length) {
                                jQuery.each(value, function(i, item) {
                                    var src = item.image;
                                    if (src == null) {
                                        src = "http://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif";
                                    }
                                    var buttonQty = "";
                                    if (item.quantity == '1') {
                                        buttonQty = 'disabled';
                                    } else {
                                        buttonQty = '';
                                    }
                                    var pageCartItem = '<div class="item-popup productid-' + item.variant_id + '">' +
                                        '<div style="width: 13%;" class="border height image_ text-left"><div class="item-image">' +
                                        '<a class="product-image" href="' + item.url + '" title="' + item.name + '"><img alt="' + item.name + '" src="' + src + '"width="' + '90' + '"\></a>' +
                                        '</div></div>' +
                                        '<div style="width:39.8%;" class="height text-left"><div class="item-info"><p class="item-name"><a class="text2line textlinefix" href="' + item.url + '" title="' + item.name + '">' + item.title + '</a></p>' +
                                        '<span class="variant-title-popup">' + item.variant_title + '</span>' +
                                        '<a href="javascript:;" class="remove-item-cart" title="Xóa" data-id="' + item.variant_id + '"><i class="fa fa-close"></i>&nbsp;&nbsp;Xoá</a>' +
                                        '<p class="addpass" style="color:#fff;margin:0px;">' + item.variant_id + '</p>' +
                                        '</div></div>' +
                                        '<div style="width: 14.9%;" class="border height text-center"><div class="item-price"><span class="price">' + Bizweb.formatMoney(item.price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span>' +
                                        '</div></div><div style="width: 15.1%;" class="border height text-center"><div class="qty_h check_"><input class="variantID" type="hidden" name="variantId" value="' + item.variant_id + '">' +
                                        '<button onClick="var result = document.getElementById(\'qtyItemP' + item.variant_id + '\'); var qtyItemP' + item.variant_id + ' = result.value; if( !isNaN( qtyItemP' + item.variant_id + ' ) &amp;&amp; qtyItemP' + item.variant_id + ' &gt; 1 ) result.value--;return false;" ' + buttonQty + ' class="num1 reduced items-count btn-minus" type="button">-</button>' +
                                        '<input type="text" maxlength="12" min="0" readonly class="input-text number-sidebar qtyItemP' + item.variant_id + '" id="qtyItemP' + item.variant_id + '" name="Lines" id="updates_' + item.variant_id + '" size="4" value="' + item.quantity + '">' +
                                        '<button onClick="var result = document.getElementById(\'qtyItemP' + item.variant_id + '\'); var qtyItemP' + item.variant_id + ' = result.value; if( !isNaN( qtyItemP' + item.variant_id + ' )) result.value++;return false;" class="num2 increase items-count btn-plus" type="button">+</button></div></div>' +
                                        '<div style="width: 17.2%;" class="border height text-center"><span class="cart-price"> <span class="price">' + Bizweb.formatMoney(item.price * item.quantity, "{{amount_no_decimals_with_comma_separator}}₫") + '</span> </span></div>' +
                                        '</div>';
                                    jQuery(pageCartItem).appendTo(table);
                                    if (item.variant_title == 'Default Title') {
                                        $('.variant-title-popup').hide();
                                    }
                                    $('.link_product').text();
                                });
                            }
                        }
                    });
                }
            }
            jQuery('.total-price').html(Bizweb.formatMoney(cart.total_price, "{{amount_no_decimals_with_comma_separator}}₫"));

            updateCartDesc(cart);

        }
        Bizweb.updateCartPageFormMobile = function(cart, cart_summary_id, cart_count_id) {
            if ((typeof cart_summary_id) === 'string') {
                var cart_summary = jQuery(cart_summary_id);
                if (cart_summary.length) {
                    // Start from scratch.
                    cart_summary.empty();
                    // Pull it all out.
                    jQuery.each(cart, function(key, value) {
                        if (key === 'items') {

                            var table = jQuery(cart_summary_id);
                            if (value.length) {
                                jQuery('<div class="cart_page_mobile content-product-list"></div>').appendTo(table);
                                jQuery.each(value, function(i, item) {
                                    if (item.image != null) {
                                        var src = Bizweb.resizeImage(item.image, 'small');
                                    } else {
                                        var src = "https://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif";
                                    }
                                    jQuery('<div class="item-product item productid-' + item.variant_id + ' "><div class="item-product-cart-mobile"><a href="' + item.url + '">	<a class="product-images1" href=""  title="' + item.name + '"><img width="80" height="150" src="' + src + '" alt="' + item.name + '"></a></a></div>' +
                                        '<div class="title-product-cart-mobile"><h3><a href="' + item.url + '" title="' + item.name + '">' + item.name + '</a></h3><p>Giá: <span>' + Bizweb.formatMoney(item.price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span></p></div>' +
                                        '<div class="select-item-qty-mobile"><div class="txt_center">' +
                                        '<input class="variantID" type="hidden" name="variantId" value="' + item.variant_id + '"><button onClick="var result = document.getElementById(\'qtyMobile' + item.variant_id + '\'); var qtyMobile' + item.variant_id + ' = result.value; if( !isNaN( qtyMobile' + item.variant_id + ' ) &amp;&amp; qtyMobile' + item.variant_id + ' &gt; 1 ) result.value--;return false;" class="reduced items-count btn-minus" type="button">–</button><input type="text" maxlength="12" min="1" class="input-text number-sidebar qtyMobile' + item.variant_id + '" id="qtyMobile' + item.variant_id + '" name="Lines" id="updates_' + item.variant_id + '" size="4" value="' + item.quantity + '"><button onClick="var result = document.getElementById(\'qtyMobile' + item.variant_id + '\'); var qtyMobile' + item.variant_id + ' = result.value; if( !isNaN( qtyMobile' + item.variant_id + ' )) result.value++;return false;" class="increase items-count btn-plus" type="button">+</button></div>' +
                                        '<a class="button remove-item remove-item-cart" href="javascript:;" data-id="' + item.variant_id + '">Xoá</a></div>').appendTo(table.children('.content-product-list'));

                                });

                                jQuery('<div class="header-cart-price" style=""><div class="title-cart "><h3 class="text-xs-left">Tổng tiền</h3><a class="text-xs-right pull-right totals_price_mobile">' + Bizweb.formatMoney(cart.total_price, "{{amount_no_decimals_with_comma_separator}}₫") + '</a></div>' +
                                    '<div class="checkout"><button class="btn-proceed-checkout-mobile" title="Tiến hành thanh toán" type="button" onclick="window.location.href=\'/checkout\'">' +
                                    '<span>Tiến hành thanh toán</span></button>' +
                                    '<button class="btn btn-white f-left" title="Tiếp tục mua hàng" type="button" onclick="window.location.href=\'/collections/all\'"><span>Tiếp tục mua hàng</span></button>' +
                                    '</div></div>').appendTo(table);
                            }

                        }
                    });
                }
            }
            updateCartDesc(cart);
        }


        function updateCartDesc(data) {
            var $cartPrice = Bizweb.formatMoney(data.total_price, "{{amount_no_decimals_with_comma_separator}}₫"),
                $cartMobile = $('#header .cart-mobile .quantity-product'),
                $cartDesktop = $('.count_item_pr'),
                $cartDesktopList = $('.cart-counter-list'),
                $cartPopup = $('.cart-popup-count');

            switch (data.item_count) {
                case 0:
                    $cartMobile.text('0');
                    $cartDesktop.text('0');
                    $cartDesktopList.text('0');
                    $cartPopup.text('0');

                    break;
                case 1:
                    $cartMobile.text('1');
                    $cartDesktop.text('1');
                    $cartDesktopList.text('1');
                    $cartPopup.text('1');

                    break;
                default:
                    $cartMobile.text(data.item_count);
                    $cartDesktop.text(data.item_count);
                    $cartDesktopList.text(data.item_count);
                    $cartPopup.text(data.item_count);

                    break;
            }
            $('.top-cart-content .top-subtotal .price, aside.sidebar .block-cart .subtotal .price, .popup-total .total-price').html($cartPrice);
            $('.popup-total .total-price').html($cartPrice);
            $('.shopping-cart-table-total .totals_price').html($cartPrice);
            $('.header-cart-price .totals_price_mobile').html($cartPrice);
            $('.cartCount').html(data.item_count);
            if (window.BuyXCartCheck) {
                window.BuyXCartCheck(window.cartJsonBuyx);
                window.location.href = window.location.href;
            }
        }

        Bizweb.onCartUpdate = function(cart) {
            Bizweb.updateCartFromForm(cart, '.mini-products-list');
            Bizweb.updateCartPopupForm(cart, '#popup-cart-desktop .tbody-popup');

        };
        Bizweb.onCartUpdateClick = function(cart, variantId) {
            jQuery.each(cart, function(key, value) {
                if (key === 'items') {
                    jQuery.each(value, function(i, item) {
                        if (item.variant_id == variantId) {
                            $('.productid-' + variantId).find('.cart-price span.price').html(Bizweb.formatMoney(item.price * item.quantity, "{{amount_no_decimals_with_comma_separator}}₫"));
                            $('.productid-' + variantId).find('.items-count').prop("disabled", false);
                            $('.productid-' + variantId).find('.number-sidebar').prop("disabled", false);
                            $('.productid-' + variantId + ' .number-sidebar').val(item.quantity);
                            if (item.quantity == '1') {
                                $('.productid-' + variantId).find('.items-count.btn-minus').prop("disabled", true);
                            }
                        }
                    });
                }
            });
            updateCartDesc(cart);
        }
        Bizweb.onCartRemoveClick = function(cart, variantId) {
            jQuery.each(cart, function(key, value) {
                if (key === 'items') {
                    jQuery.each(value, function(i, item) {
                        if (item.variant_id == variantId) {
                            $('.productid-' + variantId).remove();
                        }
                    });
                }
            });
            updateCartDesc(cart);
        }
        $(window).ready(function() {

            $.ajax({
                type: 'GET',
                url: '/cart.js',
                async: false,
                cache: false,
                dataType: 'json',
                success: function(cart) {
                    Bizweb.updateCartFromForm(cart, '.mini-products-list');
                    Bizweb.updateCartPopupForm(cart, '#popup-cart-desktop .tbody-popup');

                }
            });
        });
    </script>
    <div id="popup-cart" class="modal fade" role="dialog">
        <div id="popup-cart-desktop" class="clearfix">
            <div class="title-popup-cart">
                <img src="~/Memory-Home/images/icon-check.png" alt="Memoryzone - Professional in memory"> <span class="your_product">
                    Bạn đã thêm <span class="cart_name_style">[ <span class="cart-popup-name"></span>]</span>
                    vào giỏ hàng thành công !
                </span>
            </div>
            <div class="wrap_popup">
                <div class="title-quantity-popup">
                    <span class="cart_status" onclick="window.location.href=&#39;/cart&#39;;">Giỏ hàng của bạn có <span class="cart-popup-count">0</span> sản phẩm </span> <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>
                <div class="content-popup-cart">
                    <div class="thead-popup">
                        <div style="width: 53%;" class="text-left">Sản phẩm</div>
                        <div style="width: 15%;" class="text-center">Đơn giá</div>
                        <div style="width: 15%;" class="text-center">Số lượng</div>
                        <div style="width: 17%;" class="text-center">Thành tiền</div>
                    </div>
                    <div class="tbody-popup scrollbar-dynamic"></div>
                    <div class="tfoot-popup">
                        <div class="tfoot-popup-1 a-right clearfix">
                            <span class="total-p popup-total">Tổng tiền thanh toán: <span class="total-price">0₫</span></span>
                        </div>
                        <div class="tfoot-popup-2 clearfix">
                            <a class="button buy_ btn-proceed-checkout" title="Thực hiện thanh toán" href="https://www.memoryzone.com.vn/checkout"><span>Thực hiện thanh toán</span></a>
                            <a class="button checkout_ btn-proceed-checkout" title="Tiếp tục mua hàng" onclick="$(&#39;#popup-cart&#39;).modal(&#39;hide&#39;);"><span><span>Tiếp tục mua hàng</span></span></a>
                        </div>
                    </div>
                </div>
                <a title="Close" class="close-window" href="javascript:;" onclick="$(&#39;#popup-cart&#39;).modal(&#39;hide&#39;);"><i class="fa  fa-close"></i></a>
            </div>
        </div>

    </div>
    <div id="myModal" class="modal fade" role="dialog">
    </div>

    <script src="~/Memory-Home/js/cs.script.js" type="text/javascript"></script>
    <script src="~/Memory-Home/js/double_tab_togo.js" type="text/javascript"></script>
    <script src="~/Memory-Home/js/appear.js" type="text/javascript"></script>
    <!-- Quick view -->
    @Html.Partial("~/Views/_shared/_quickView.cshtml")



    <script type="text/javascript">
        Bizweb.doNotTriggerClickOnThumb = false;

        function changeImageQuickView(img, selector) {
            var src = $(img).attr("src");
            src = src.replace("_compact", "");
            $(selector).attr("src", src);
        }

        function validate(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
        var selectCallbackQuickView = function(variant, selector) {
            $('#quick-view-product form').show();
            var productItem = jQuery('.quick-view-product .product-item'),
                addToCart = productItem.find('.add_to_cart_detail'),
                productPrice = productItem.find('.price'),
                comparePrice = productItem.find('.old-price'),
                status = productItem.find('.soluong'),
                totalPrice = productItem.find('.total-price span');
            if (variant && variant.available) {

                var form = jQuery('#' + selector.domIdPrefix).closest('form');
                for (var i = 0, length = variant.options.length; i < length; i++) {
                    var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] + '"]');
                    if (radioButton.size()) {
                        radioButton.get(0).checked = true;
                    }
                }

                addToCart.removeClass('disabled').removeAttr('disabled');
                addToCart.html('<span class="text_1">MUA NGAY</span><span class="text_2">Giao hàng miễn phí tận nơi</span>').removeAttr('disabled');
                status.text('Còn hàng');
                if (variant.price < 1) {
                    $("#quick-view-product .price").html('Liên hệ');
                    $("#quick-view-product del, #quick-view-product .quantity_wanted_p").hide();
                    $("#quick-view-product .prices .old-price").hide();
                } else {
                    productPrice.html(Bizweb.formatMoney(variant.price, "{{amount_no_decimals_with_comma_separator}}₫"));
                    if (variant.compare_at_price > variant.price) {
                        comparePrice.html(Bizweb.formatMoney(variant.compare_at_price, "{{amount_no_decimals_with_comma_separator}}₫")).show();
                        productPrice.addClass('on-sale');
                    } else {
                        comparePrice.hide();
                        productPrice.removeClass('on-sale');
                    }

                    $(".quantity_wanted_p").show();
                    $(".input_qty_qv").show();

                }



                updatePricingQuickView();

                /*begin variant image*/
                if (variant && variant.featured_image) {

                    var originalImage = $("#product-featured-image-quickview");
                    var newImage = variant.featured_image;
                    var element = originalImage[0];
                    Bizweb.Image.switchImage(newImage, element, function(newImageSizedSrc, newImage, element) {
                        $('#thumblist_quickview img').each(function() {
                            var parentThumbImg = $(this).parent();
                            var productImage = $(this).parent().data("image");
                            if (newImageSizedSrc.includes(productImage)) {
                                $(this).parent().trigger('click');
                                return false;
                            }
                        });

                    });
                    $('#product-featured-image-quickview').attr('src', variant.featured_image.src);
                }
            } else {
                addToCart.addClass('disabled').attr('disabled', 'disabled');
                addToCart.removeClass('hidden').addClass('btn_buy').attr('disabled', 'disabled').attr('title', 'Hết hàng').html('<div class="btn_base disabled">HẾT HÀNG</div>').show();
                status.text('Hết hàng');
                $(".quantity_wanted_p").show();
                if (variant) {
                    if (variant.price < 1) {
                        $("#quick-view-product .price").html('Liên hệ');
                        $("#quick-view-product del").hide();
                        $("#quick-view-product .quantity_wanted_p").hide();
                        $("#quick-view-product .prices .old-price").hide();

                        comparePrice.hide();
                        productPrice.removeClass('on-sale');
                        addToCart.addClass('disabled').attr('disabled', 'disabled');
                        addToCart.removeClass('hidden').addClass('btn_buy').attr('disabled', 'disabled').attr('title', 'Hết hàng').html('<div class="btn_base disabled">HẾT HÀNG</div>').show();
                    } else {
                        if (variant.compare_at_price > variant.price) {
                            comparePrice.html(Bizweb.formatMoney(variant.compare_at_price, "{{amount_no_decimals_with_comma_separator}}₫")).show();
                            productPrice.addClass('on-sale');
                        } else {
                            comparePrice.hide();
                            productPrice.removeClass('on-sale');
                            $("#quick-view-product .prices .old-price").html('');
                        }
                        $("#quick-view-product .price").html(Bizweb.formatMoney(variant.price, "{{amount_no_decimals_with_comma_separator}}₫"));
                        $("#quick-view-product del ").hide();
                        $("#quick-view-product .prices .old-price").show();
                        $(".input_qty_qv").hide();
                        addToCart.addClass('disabled').attr('disabled', 'disabled');
                        addToCart.removeClass('hidden').addClass('btn_buy').attr('disabled', 'disabled').attr('title', 'Hết hàng').html('<div class="btn_base disabled">HẾT HÀNG</div>').show();
                    }
                } else {
                    $("#quick-view-product .price").html('Liên hệ');
                    $("#quick-view-product del").hide();
                    $("#quick-view-product .quantity_wanted_p").hide();
                    $("#quick-view-product .prices .old-price").hide();
                    comparePrice.hide();
                    productPrice.removeClass('on-sale');
                    addToCart.addClass('disabled').attr('disabled', 'disabled');
                    addToCart.removeClass('hidden').addClass('btn_buy').attr('disabled', 'disabled').attr('title', 'Hết hàng').html('<div class="btn_base disabled">HẾT HÀNG</div>').show();
                }
            }
            /*begin variant image*/
            if (variant && variant.featured_image) {

                var originalImage = $("#product-featured-image-quickview");
                var newImage = variant.featured_image;
                var element = originalImage[0];
                Bizweb.Image.switchImage(newImage, element, function(newImageSizedSrc, newImage, element) {
                    $('#thumblist_quickview img').each(function() {
                        var parentThumbImg = $(this).parent();
                        var productImage = $(this).parent().data("image");
                        if (newImageSizedSrc.includes(productImage)) {
                            $(this).parent().trigger('click');
                            return false;
                        }
                    });

                });
                $('#product-featured-image-quickview').attr('src', variant.featured_image.src);
            }

        };
    </script>
    <script src="~/Memory-Home/js/quickview.js" type="text/javascript"></script>
    <script src="~/Memory-Home/js/main.js"></script>
    <!-- Product detail JS,CSS -->




    <div class="hotline-fixed">
        <a href="tel:(03)78491006)" class="phone_span">
            <i class="fa fa-phone"></i>
            <span class="number">(03)78491006</span>
        </a>
    </div>
    <script src="~/Memory-Home/js/appbulk-buyxgety-variant-change.js" type="text/javascript"></script>
    <script src="~/Memory-Home/js/appbulk-product-statistics.js" type="text/javascript"></script>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root" class=" fb_reset">
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div>
                <iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                        src="~/Memory-Home/js/xd_arbiter.html" style="border: none;"></iframe>
            </div>
            <div></div>
        </div>
    </div>
    <script>
        setTimeout(function () {
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v4.0'
                });
            };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }, 7000);
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" id="">
        function getIP(a) {
            dataLayer.push({
                event: "IpEvent",
                IpAddress: a.ip
            })
        };
    </script>
    <script type="text/javascript" id="" src="~/Memory-Home/js/saved_resource"></script>
    <div>
        <div style="display:none"><img src="~/Memory-Home/js/Logging"></div>
    </div>

    <!-- Jeoway Analytics Tag Manager -->
    <script type="text/javascript">
        var _mtm = _mtm || [];
        _mtm.push({
            'mtm.startTime': (new Date().getTime()),
            'event': 'mtm.Start'
        });
        var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = '~/Memory-Home/js/container_E5BU680m.js';
        s.parentNode.insertBefore(g, s);
    </script>
    <!-- End Jeoway Analytics Tag Manager -->
    <!-- Your customer chat code
    <div class="fb-customerchat"
    attribution=setup_tool
    page_id="393310030750963"
    theme_color="#67b868"
    logged_in_greeting="Xin chào! MemoryZone luôn sẵn sàng trả lời mọi câu hỏi của bạn."
    logged_out_greeting="Xin chào! MemoryZone luôn sẵn sàng trả lời mọi câu hỏi của bạn.">
    </div> -->
    <link rel="stylesheet" type="text/css" href="~/css/category1.css" />
    <div class="jeowayContactAllInOne_container">
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5e0dae2a7e39ea1242a2abaa/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->

    </div>
</body>

</html>